apiVersion: fluxcd.controlplane.io/v1
kind: ResourceSet
metadata:
  name: gateway-api
  namespace: flux-system
  annotations:
    fluxcd.controlplane.io/reconcileTimeout: "5m"
spec:
  inputs:
    - channel: experimental # or standard
      version: 1.x # auto upgrade to latest minor
      interval: 24h # check for updates daily
  wait: true
  resources:
    - apiVersion: source.toolkit.fluxcd.io/v1
      kind: GitRepository
      metadata:
        name: << inputs.provider.name >>
        namespace: << inputs.provider.namespace >>
      spec:
        interval: << inputs.interval | quote >>
        url: https://github.com/kubernetes-sigs/gateway-api.git
        ref:
          semver: << inputs.version | quote >>
    - apiVersion: kustomize.toolkit.fluxcd.io/v1
      kind: Kustomization
      metadata:
        name: << inputs.provider.name >>
        namespace: << inputs.provider.namespace >>
      spec:
        serviceAccountName: flux-operator
        interval: << inputs.interval | quote >>
        retryInterval: 5m
        timeout: 3m
        prune: true
        wait: true
        sourceRef:
          kind: GitRepository
          name: << inputs.provider.name >>
        path: config/crd/<< inputs.channel >>
