apiVersion: fluxcd.controlplane.io/v1
kind: ResourceSet
metadata:
  name: infra
  namespace: flux-system
spec:
  commonMetadata:
    labels:
      toolkit.fluxcd.io/tenant: platform-team
  resources:
    - apiVersion: kustomize.toolkit.fluxcd.io/v1
      kind: Kustomization
      metadata:
        name: infra-sync
        namespace: flux-system
      spec:
        interval: 1h
        retryInterval: 2m
        timeout: 5m
        path: "kubernetes/infra"
        prune: true
        wait: true
        sourceRef:
          kind: GitRepository
          name: flux-system
        healthCheckExprs:
          - apiVersion: fluxcd.controlplane.io/v1
            kind: ResourceSet
            current: status.conditions.filter(c, c.type == 'Ready').all(c, c.status == 'True' && c.observedGeneration == metadata.generation)
